
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background: #f2f2f2;
  font-family: 'Noto Sans', sans-serif;
  width: 1040px;
}

section{
  background: #fff;
  padding: 0;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 0 auto;
  width: 100%;
}

#sidebar {
  display: block;
  position: absolute;
  right: 1rem;
  top: 0px;
  width: 384px;
  height: 324px;
}

#sidebar h3{
  padding: 14px 20px 6px 20px;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

#searchbox {
  display: block;
  position: absolute;
  right: 1.2rem;
  top: 1rem;
}

#searchbox span{
  position: absolute;
  right: 10px;
  top: 6px;
  line-height: 1.5rem;
  font-size: 12px;
  color: #666;
}

#searchbox input{
  display: block;
  line-height: 1.5rem;
  font-size: 0.8rem;
  width: 180px;
  padding: 4px 1.6rem;
  border-radius: 4px;
  background: #DDD url(http://demo.jwplayer.com/iframes/interactive-transcript/search.png) no-repeat top left;
  border: none;
}

#transcript {
  height: 264px;
  overflow: auto;
  font-size: 13px;
  padding: 0 20px;
}

#transcript span {
  display: inline;
  padding: 4px 2px;
  font-size: 1rem;
  line-height: 1.6;
  cursor: pointer;
  color: #666;
}

#transcript span.current{
  background:rgb(0, 156, 222);
  color: #000;
}

#transcript span:hover{
  color: rgb(0, 156, 222);
}

#transcript span em{
  font-style: normal;
  background: #666;
  color: #fff;
}

#transcript span em.current{
  background: #E41;
}

#transcript p {
  margin: 0 0 10px 0;
}

#transcript h4{
  margin: 0 0 5px 0;
}