
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background: #f2f2f2;
  font-family: 'Noto Sans', sans-serif;
  width: 1040px;
}

section{
  background: #fff;
  padding: 0;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 0 auto;
  width: 100%;
}

#sidebar {
  display: block;
  position: absolute;
  right: 1rem;
  top: 0px;
  width: 384px;
  height: 324px;
}

#sidebar h3{
  padding: 14px 20px 6px 20px;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

#searchbox {
  display: block;
  position: absolute;
  right: 1.2rem;
  top: 1rem;
}

#transcript {
  height: 264px;
  overflow: auto;
  font-size: 13px;
  padding: 0 20px;
}