/* Ring around Play button  */
.jwplayer.jw-skin-wcld .jw-display-icon-container {
  border-style: solid;
  border-width: medium;
  border-radius: 50%;
  padding: 1em;
  transition: border-color 200ms ease-in;
}
/* Ring around Play button hover  */
.jwplayer.jw-skin-wcld .jw-display-icon-container:hover {
  border-color: #009cde;
  padding: 1em;
}

.jwplayer.jw-skin-wcld .jw-button-color{
  color: #ffffff;
}

.jwplayer.jw-skin-wcld .jw-display-icon-container.jw-icon-display svg.jw-svg-icon-play:hover{
  fill: #009cde;
}

.jwplayer.jw-skin-wcld .jw-button-container .jw-icon:hover{
  color: #009cde;
}

.jwplayer.jw-skin-wcld .jw-display-icon-container .jw-icon > .jw-svg-icon svg.jw-svg-icon-play:hover{
  fill: red;
}

.jw-icon .jw-icon-display .jw-button-color .jw-reset{
  color: red;
}