/* Styling to player border-radius */
.jwplayer.jw-skin-wcld{
  border-radius: 22px;
  overflow:hidden;
  -webkit-transform: translateZ(0);
  box-shadow: 0 19px 51px 0 rgba(0,0,0,0.16), 0 14px 19px 0 rgba(0,0,0,0.07);
}


/* Ring around Play button being set */
.jwplayer.jw-skin-wcld .jw-display-icon-container {
  border-style: solid;
  border-width: medium;
  border-radius: 50%;
  padding: 1em;
  transition: border-color 200ms ease-in;
}
/* Ring around Play button on hover  */
.jwplayer.jw-skin-wcld .jw-display-icon-container:hover {
  border-color: #009cde;
  padding: 1em;
}

.jwplayer.jw-skin-wcld .jw-button-color{
  color: #ffffff;
}

.jwplayer.jw-skin-wcld .jw-display-icon-container.jw-icon-display svg.jw-svg-icon-play:hover{
  fill: #009cde;
}

.jwplayer.jw-skin-wcld .jw-button-container .jw-icon:hover{
  color: #009cde;
}

.jwplayer.jw-skin-wcld .jw-display-icon-container .jw-icon > .jw-svg-icon svg.jw-svg-icon-play:hover{
  fill: red;
}

.jw-icon .jw-icon-display .jw-button-color .jw-reset{
  color: red;
}

.jwplayer.jw-skin-wcld .jw-slider-horizontal.jw-chapter-slider-time .jw-slider-container .jw-timesegment-background{
  background-color: rgba(0,156,222,0.3);
}